
<template>

	<div class="page">

		<header>
			<div class="logo">
				<img src="images/smolweb-logo.svg" alt="The SmolWeb logo">
				<h1>
					<div class="the">The</div>
					SmolWeb
					<div class="protocol">Protocol</div>
				</h1>
			</div>
			<button id="nav-button">Menu</button>
		</header>

		<main>
			<doc-breadcrumbs></doc-breadcrumbs>
			<slot></slot>
		</main>

		<nav id="nav-content">
			<div class="inner">
				<doc-outline></doc-outline>
			</div>
		</nav>

		<footer>
			<foot-copyright>2024</foot-copyright>
			<foot-license></foot-license>
		</footer>
	</div>

	<script target="hexp">

		import { html, text } from 'hexp:html';

		export function beforeExpand() {

			const head = document
				.childNodes.find(n => n.tagName === 'html')
				.childNodes.find(n => n.tagName === 'head');

			// add header content
			addMeta(head, 'viewport', 'width=device-width,initial-scale=1');
			addStylesheet(head, 'css/main.css');
			addStylesheet(head, 'css/doc.css');
			addStylesheet(head, 'css/highlight.css');
			addScript(head, 'js/doc.js');

			// get the document main area
			const main = document
				.childNodes.find(n => n.tagName === 'html')
				.childNodes.find(n => n.tagName === 'body')
				.childNodes.find(n => n.tagName === 'page-main');

			// set the document tile from the first h1
			let title = main
				.childNodes.find(n => n.tagName === 'h1')
				?.textContent
				?? '';
			if (title === '') {
				title = 'The SmolWeb Protocol';
			}
			head.appendChild(html('title', {}, [
				text(title)
			]));
		}

		function addMeta(head, name, content) {
			head.appendChild(html('meta', {
				name,
				content
			}));
		}

		function addStylesheet(head, href) {
			head.appendChild(html('link', {
				rel: 'stylesheet',
				href
			}));
		}

		function addScript(head, src) {
			head.appendChild(html('script', {
				src
			}));
		}
	</script>

</template>
