
<template>

	<script target="hexp">

		import { html, text } from 'hexp:html';

		import { findMainBeforeSlotted, findMainAfterSlotted } from 'indexing.js';


		/**
		 * @typedef {Object} Breadcrumb
		 * @property {File} file
		 * @property {string} url relative to the base HREF
		 */


		export function beforeExpand(tag, content) {

			// get all the parent folder indices
			// but skip this document if it's an index
			const /** @type {File[]} */ files = [];
			{
				const docFile = document.getFile();
				let dir;
				if (docFile.name === 'index.html') {
					dir = docFile.parent.parent;
				} else {
					dir = docFile.parent;
				}
				while (dir != null) {
					files.unshift(dir.file('index.html'));
					dir = dir.parent;
				}
			}

			/**
			 * @param {?HTMlElement} main
			 * @returns {?string}
			 */
			function findTitle(main) {

				// the title is the first <h1> content
				return main
					?.childNodes.find(n => n.tagName === 'h1')
					?.textContent
					?? null;
			}

			for (const file of files) {

				// find the doc title
				const doctext = new FileReaderSync().readAsText(file);
				const doc = new DOMParser().parseFromString(doctext);
				const main = findMainBeforeSlotted(doc);
				const title = findTitle(main) ?? "(none)";

				// build the URL
				let url = file.name;
				let dir = file.parent;
				while (dir != null && dir.name !== '') {
					url = `${dir.name}/${url}`;
					dir = dir.parent
				}

				// add a link to that doc
				content.push(html('a', {
					href: url
				}, [
					(() => {
						if (url === 'index.html') {
							// use a home icon for the root page
							return html('doc-icon', {
								name: 'house'
							});
						} else {
							return text(title);
						}
					})()
				]));

				// add a separator
				content.push(html('span', {
					'class': 'separator'
				}, [
					text('/')
				]));
			}

			// link to the current document
			const main = findMainAfterSlotted(document);
			const title = findTitle(main) ?? "Here";
			content.push(text(title));
		}

	</script>

</template>