
<template>

	<script target="hexp">

		import { html, text } from 'hexp:html';

		import highlight from 'highlight/core.js';
		import langShell from 'highlight/lang/bash.js';
		import langToml from 'highlight/lang/ini.js';

		export function beforeExpand(tag, content) {

			// get the desired language
			const lang = tag.attributes.getNamedItem('lang')
				?.value;
			if (lang == null) {
				throw new Error("<doc-code> has no lang attribute");
			}

			// register the language
			switch (lang) {
				case 'shell': highlight.registerLanguage(lang, langShell); break;
				case 'toml': highlight.registerLanguage(lang, langToml); break;
				default: throw new Error(`unrecognized language '${lang}' in <doc-code>`);
			}

			// show the language in the output
			content.push(html('div', {
				'class': 'lang'
			}, [
				text(lang)
			]));

			// massage the code to get rid of flanking whitespace
			let lines = tag.textContent
				.split('\n');
			while (lines.length > 0 && lines[0].trim() === '') {
				lines.shift();
			}
			while (lines.length > 0 && lines[lines.length - 1].trim() === '') {
				lines.pop();
			}
			const leadingWhitespace = /^(\s*)/;
			const indent = lines
				.map(line => leadingWhitespace.exec(line)[1].length)
				.reduce(
					(acc, indent) => {
						if (acc == null || indent < acc) {
							return indent;
						} else {
							return acc;
						}
					},
					null
				);
			const code = lines
				.map(line => line.substring(indent))
				.join('\n');

			// highlight the code
			const highlighted = highlight.highlight(code, {
				language: lang
			});

			// wrap the output in <pre><code>
			content.push(html('pre', {}, [
				(() => {
					const out = html('code', {
						'class': 'hljs'
					});
					out.innerHTML = highlighted.value;
					return out;
				})()
			]));
		}

	</script>

</template>
