
<template>
	<script target="hexp">

		import { html } from 'hexp:html';

		export function beforeExpand(tag, content) {

			const name = tag.attributes.getNamedItem('name').value;
			// find an icon: https://fontawesome.com/search?o=r&m=free

			content.push(html('svg', {}, [
				html('use', {
					href: `images/font-awesome-solid.svg#${name}`
				})
			]));
		}

	</script>
</template>
