
<template>

	<header></header>
	<main>
		<slot></slot>
	</main>

	<script target="hexp">

		import { html, text } from 'hexp:html';

		export function beforeExpand(tag, content) {

			const type = tag.attributes.getNamedItem('type')
				?.value
				?? 'note';

			let label = null;
			let iconName = null;
			switch (type) {

				case 'note':
					label = 'Note';
					iconName = 'circle-info';
				break;

				case 'faq':
					label = 'FAQ';
					iconName = 'circle-info';
				break;

				case 'tip':
					label = 'Tip';
					iconName = 'circle-info';
				break;

				case 'warn':
					label = 'Warning';
					iconName = 'triangle-exclamation';
				break;

				default:
					throw new Error(`unrecognized notice type: ${type}`);
			}

			const icon = html('doc-icon', {
				name: iconName
			});

			const header = content.find(n => n.tagName === 'header');
			header.appendChild(text(label));
			header.insertBefore(icon, header.childNodes[0]);
		}
	</script>
</template>
