
<template compose="inner">
	<script target="hexp">

		import { html, text } from 'hexp:html';

		import { findMainAfterSlotted, indexHeaders, hereUrl } from 'indexing.js';


		export function beforeExpand(tag, content) {

			// get the document headers, if any
			const main = findMainAfterSlotted(document);
			if (main == null) {
				return;
			}
			const headers = indexHeaders(main);
			if (headers.length <= 0) {
				return;
			}

			/**
			 * @param {DocHeader[]} list
			 * @param {HTMLElement} out
			 */
			function handle(list, out) {
				for (const header of list) {

					// build the href, relative to the base
					const href = `${hereUrl()}#${header.id}`;

					// add the outline link
					const item = html('li', {}, [
						html('a', {
							href
						}, [
							text(header.text)
						])
					]);
					out.appendChild(item);

					// augment the header with a link and anchor
					const icon = document.expand(html('doc-icon', {
						name: 'link'
					}));
					// NOTE: can't inline the above expression for icon due to a bug in boa_engine!
					header.elem.appendChild(html('a', {
						name: header.id,
						href,
						'class': 'link'
					}, [
						... icon
					]));

					// recurse
					if (header.subheaders.length > 0) {
						const subout = html('ol');
						item.appendChild(subout);
						handle(header.subheaders, subout);
					}
				}
			}

			// create the root list
			const root = html('ol');
			handle(headers, root);
			content.push(root);
		}

	</script>
</template>
