
<template>

	<script target="hexp">

		import { html, text } from 'hexp:html';

		export function beforeExpand(tag, content) {

			// make tabs from the child sections
			const tabs = tag
				.childNodes.filter(n => n.tagName === 'section')
				.map(section => {

					const name = section.attributes.getNamedItem('name')?.value;
					if (name == null) {
						throw new Error("tab is missing `name` attribute");
					}

					return {
						name,
						section
					};
				});

			// make the tab buttons
			const buttons = html('div', {
				'class': 'buttons'
			});
			for (const tab of tabs) {
				const button = html('button', {}, [
					text(tab.name)
				]);
				buttons.appendChild(button);
			}
			content.push(buttons);

			// make the tab panes
			for (const tab of tabs) {
				content.push(html('section', {
					'class': 'tab'
				}, [
					html('header', {}, [
						text(tab.name)
					]),
					... tab.section.childNodes
				]));
			}
		}

	</script>
</template>
