
<template>

	<pre><slot></slot></pre>

	<script target="hexp">

		export function afterRecurse(tag, contents) {

			// find out the code indent
			let lines = tag.textContent
				.split('\n');
			while (lines.length > 0 && lines[0].trim() === '') {
				lines.shift();
			}
			while (lines.length > 0 && lines[lines.length - 1].trim() === '') {
				lines.pop();
			}
			const leadingWhitespace = /^(\s*)/;
			const indent = lines
				.map(line => leadingWhitespace.exec(line)[1].length)
				.reduce(
					(acc, indent) => {
						if (acc == null || indent < acc) {
							return indent;
						} else {
							return acc;
						}
					},
					null
				);

			const pre = tag.childNodes.find(n => n.tagName === 'pre');

			// remove any pre and post whitespace
			for (let i=0; i<pre.childNodes.length; i++) {
				const node = pre.childNodes[i];
				if (node.nodeName === '#text') {
					node.value = node.value.trimStart();
				} else {
					break;
				}
			}

			for (let i=pre.childNodes.length - 1; i>=0; i--) {
				const node = pre.childNodes[i];
				if (node.nodeName === '#text') {
					node.value = node.value.trimEnd();
				} else {
					break;
				}
			}

			// remove the ident
			for (let i=0; i<pre.childNodes.length; i++) {
				const node = pre.childNodes[i];
				if (node.nodeName === '#text') {
					const parts = node.value.split('\n');
					for (let p=1; p<parts.length; p++) {
						parts[p] = parts[p].substring(indent);
					}
					node.value = parts.join('\n');
				}
			}
		}

	</script>

</template>