
<template>

	<script target="hexp">

		import { html, text } from 'hexp:html';

		import { indexDocs, hereUrlDir } from 'indexing.js';

		export function afterExpand(tag, content) {

			const root = indexDocs(document.getDir('.'));
			if (root == null) {
				return;
			}

			const hereDir = hereUrlDir();

			function handle(infos, out) {
				for (const info of infos) {

					let href = info.url;
					if (hereDir !== '') {
						href = `${hereDir}/${info.url}`;
					}

					const elem = html('div', {
						'class': 'link'
					}, [
						html('a', {
							href
						}, [
							text(info.title)
						])
					]);
					out.appendChild(elem);

					// recurse
					if (info.subdocs.length > 0) {
						const sublist = html('ol');
						elem.appendChild(sublist);
						handle(info.subdocs, sublist);
					}
				}
			}

			handle(root.subdocs, tag);
		}
	</script>

</template>