

:root {
	--color-fg-literal: #e82a4e;

	--color-bg-notice-head-note: #357bc6; /* blue */
	--color-bg-notice-main-note: #caedfe;
	--color-bg-notice-head-tip: #70c635; /* green */
	--color-bg-notice-main-tip: #daf9b5;
	--color-bg-notice-head-warn: #e1cb19; /* yellow */
	--color-bg-notice-main-warn: #fef6ca;
	--color-bg-todo-head: #e11919; /* red */
	--color-bg-todo-main: #fedbca;

	--radius-card: 8px;
	--shadow-card: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}


doc-lit {
	display: inline-block;
	font-family: monospace;
	background-color: var(--color-bg-lightest);
	padding: 0.2em;
	border-radius: 4px;
	border: solid 1px #aaa;
	color: var(--color-fg-literal);
	font-size: 120%;
}


doc-notice,
doc-todo {
	display: block;
	margin-top: 1.4em;
	margin-bottom: 1.4em;
	box-shadow: var(--shadow-card);
	border-radius: var(--radius-card);

	> header {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		gap: 0.6em;
		color: var(--color-fg-lightest);
		font-weight: bold;
		padding: 4px;
		padding-left: 16px;
		padding-right: 16px;
		border-top-left-radius: var(--radius-card);
		border-top-right-radius: var(--radius-card);

		doc-icon {
			height: 0.8lh;
			position: relative;
			top: -0.12em;

			& > svg {
				fill: var(--color-fg-lightest);
			}
		}
	}

	> main {
		padding: 12px;
		padding-left: 16px;
		padding-right: 16px;
		border-bottom-left-radius: var(--radius-card);
		border-bottom-right-radius: var(--radius-card);

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}

doc-notice[type=note] {
	header {
		background-color: var(--color-bg-notice-head-note);
	}
	main {
		background-color: var(--color-bg-notice-main-note);
	}
}

doc-notice[type=tip] {
	header {
		background-color: var(--color-bg-notice-head-tip);
	}
	main {
		background-color: var(--color-bg-notice-main-tip);
	}
}

doc-notice[type=warn] {
	header {
		background-color: var(--color-bg-notice-head-warn);
	}
	main {
		background-color: var(--color-bg-notice-main-warn);
	}
}

doc-notice[type=faq] {
	header {
		background-color: var(--color-bg-notice-head-tip);
	}
	main {
		background-color: var(--color-bg-notice-main-tip);
		display: flex;
		flex-direction: column;
		gap: 0.6em;
	}

	doc-question {
		display: flex;
		flex-direction: row;
		gap: 0.6em;

		> label {
			font-weight: bold;
		}
	}

	doc-answer {
		display: flex;
		flex-direction: row;
		gap: 0.6em;

		> label {
			font-weight: bold;
		}

		> section {

			> *:first-child {
				margin-top: 0;
			}

			> *:last-child {
				margin-bottom: 0;
			}
		}
	}
}


doc-todo {
	header {
		background-color: var(--color-bg-todo-head);
	}
	main {
		background-color: var(--color-bg-todo-main);
	}
}


doc-icon {
	display: inline-block;
	height: 1lh;
	aspect-ratio: 1;

	svg {
		fill: var(--color-fg-darkest);
		width: 100%;
		height: 100%;
	}
}


doc-code {
	display: block;
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;

	> .lang {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.2em 0.4em;
		background-color: var(--color-bg-light);
		color: var(--color-fg-darker);
		font-size: 90%;
		border-radius: 2px;
	}

	> pre {
		margin: 0;
		tab-size: 4;
	}
}


doc-tabs {
	display: block;

	.hidden {
		display: none;
	}

	> .buttons {
		display: none;

		&.shown {
			display: flex;
			flex-direction: row;
			gap: 1em;
			align-items: flex-end;
			border-bottom: solid 1px var(--color-fg-accent);
		}

		> button {
			border: none;
			cursor: pointer;
			background-color: transparent;
			color: var(--color-fg-dark);
			font-weight: bold;
			font-size: 100%;
			padding: 4px;
			padding-left: 16px;
			padding-right: 16px;

			&.selected {
				color: var(--color-fg-darkest);
				border-left: solid 1px var(--color-fg-accent);
				border-right: solid 1px var(--color-fg-accent);
				border-top: solid 1px var(--color-fg-accent);
				border-bottom: solid 1px var(--color-fg-lightest);
				border-top-left-radius: var(--radius-card);
				border-top-right-radius: var(--radius-card);
				position: relative;
				top: 1px;
			}
		}
	}

	> .tab {

		> header {
			font-weight: bold;
			margin-top: 1em;
			margin-bottom: 0.2em;
		}

		padding: 12px;
		padding-left: 16px;
		padding-right: 16px;

		&.selected {
			border-left: solid 1px var(--color-fg-accent);
			border-right: solid 1px var(--color-fg-accent);
			border-bottom: solid 1px var(--color-fg-accent);
			border-bottom-left-radius: var(--radius-card);
			border-bottom-right-radius: var(--radius-card);
		}
	}
}


doc-toc {
	display: block;

	& > *:first-child {
		margin-top: 0;
	}

	& > *:last-child {
		margin-bottom: 0;
	}

	> .link {
		font-size: 110%;
		margin-top: 0.8em;

		> ol {
			padding-left: 1em;
			margin-top: 0.4em;
			margin-bottom: 0.4em;
		}
	}
}


doc-breadcrumbs {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 0.4em;
	border-bottom: 1px solid var(--color-fg-accent);
	padding-bottom: 0.4em;
	color: var(--color-fg-darker);

	.separator {
		color: var(--color-fg-lighter);
	}

	doc-icon {
		height: 0.8lh;
		position: relative;
		top: 0.1em;

		svg {
			fill: var(--color-fg-accent);
		}
	}
}


doc-terminal {
	display: block;
	padding: 0.6em;
	background-color: var(--color-bg-dark);
	color: var(--color-fg-lightest);

	> pre {
		margin: 0;
		tab-size: 4;
	}
}
