
:root {
	--color-bg-lightest: #ffffff;
	--color-bg-lighter: #f4f4f4;
	--color-bg-light: #dddddd;
	--color-bg-dark: #292b27;

	--color-fg-lightest: #ffffff;
	--color-fg-lighter: #cccccc;
	--color-fg-light: #999999;
	--color-fg-dark: #666666;
	--color-fg-darker: #333333;
	--color-fg-darkest: #000000;
	--color-fg-accent: #53beff;

	--color-fg-link: #0064ff;
	--color-fg-link-visited: #8493aa;
}


html {
	background-color: #b4ddee;
}

body {
	margin: 0;
	font-family: sans-serif;

	a {
		color: var(--color-fg-link);

		&:visited {
			color: var(--color-fg-link-visited);
		}
	}
}

.page {
	background-color: var(--color-bg-lightest);
	margin-bottom: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.page > header {
	grid-area: header;
	background-color: var(--color-bg-dark);
	color: var(--color-fg-lightest);
	text-align: left;

	.logo {
		display: flex;
		flex-direction: row;
		gap: 20px;
		align-items: stretch;
		height: 64px;

		img {
			aspect-ratio: 1;
		}

		h1 {
			font-size: 140%;
			margin: 0;

			.the {
				font-size: 50%;
			}
			.protocol {
				font-size: 70%;
			}
		}
	}

	#nav-button {
		display: none;
	}
}

.page > nav {
	grid-area: nav;
	background-color: var(--color-bg-dark);
	color: var(--color-fg-lightest);

	h1 {
		font-size: 120%;
	}

	a {
		color: var(--color-fg-lightest);
	}

	& > .inner {

		& > *:first-child {
			margin-top: 0;
		}

		& > *:last-child {
			margin-bottom: 0;
		}

		ol {
			list-style-type: none;
		}

		> ol {
			padding-left: 0;

			> li { /* h2 */

				a {
					color: var(--color-fg-accent);
					text-decoration: none;
				}
				a:hover {
					text-decoration: underline;
				}

				li a {
					color: var(--color-fg-lightest);
				}

				&:not(:first-child) {
					margin-top: 1em;
				}

				> ol {
					padding-left: 0.1em;

					> li { /* h3 */
						margin-top: 0.4em;

						> ol {
							padding-left: 1em;

							> li { /* h4 */
								margin-top: 0.2em;
							}
						}
					}
				}
			}
		}
	}
}

.page > main {
	grid-area: main;

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	h1 {
		font-size: 150%;
	}

	h2 {
		font-size: 130%;
		margin-top: 1.4em;
	}

	h3 {
		font-size: 120%;
		margin-top: 1em;
	}

	h4 {
		font-size: 110%;
		margin-top: 1em;
	}

	h2, h3, h4, h5, h6 {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		gap: 0.2em;

		a {
			text-decoration: none;
			visibility: hidden;

			doc-icon {
				height: 0.8lh;

				svg {
					fill: var(--color-fg-darkest);
				}
			}
		}

		&:hover {
			a {
				visibility: visible;
			}
		}
	}

	dl {
		dt {
			font-weight: bold;
			margin-top: 1em;
		}
	}

	img {
		max-width: 100%;
	}

	ul {
		margin-top: 0.4em;
		margin-bottom: 0.4em;
		padding-left: 1em;

		li {
			margin-top: 0.4em;
			margin-bottom: 0.4em;

			&.icon {
				padding-left: 1.8em;
				list-style-type: none;
				background-image: url('../images/mastodon.svg');
				background-position: 0 0.1lh;
				background-size: 0.9lh 0.9lh;
				background-repeat: no-repeat;

				&.mastodon {
					background-image: url('../images/mastodon.svg');
				}

				&.bsky {
					background-image: url('../images/bsky.svg');
				}

				&.codeberg {
					background-image: url('../images/codeberg.svg');
				}
			}
		}
	}

	pre {
		font-size: 120%;
	}
}

.page > footer {
	grid-area: footer;
	color: var(--color-fg-darker);
	font-size: 90%;

	a {
		color: var(--color-fg-darker);
	}
}


/* small screens */
@media (width <= 800px) {

	.page {
		max-width: 100%;
		display: grid;
		grid-template-areas:
			"header"
			"nav"
			"main"
			"footer";

		> * {
			min-width: 0;
		}
	}

	.page > header {
		display: flex;
		flex-direction: row;
		padding: 16px;

		.logo {
			flex-grow: 1;
		}

		#nav-button {
			display: block;
			width: 48px;
			height: 48px;
			border: solid 1px var(--color-fg-lightest);
			border-radius: 8px;
			background-color: transparent;
			color: var(--color-fg-lightest);
			cursor: pointer;
		}
	}

	.page > nav {
		display: none;
		padding: 20px;
		padding-top: 32px;
	}

	.page > main {
		padding: 20px;
		padding-top: 40px;
	}

	.page > footer {
		padding: 20px;
		padding-top: 40px;
		padding-bottom: 32px;

		.license {
			margin-top: 10px;
		}
	}
}


/* medium and large screens */
@media (800px < width) {

	.page {
		width: calc(100% - 40px);
		margin-left: auto;
		margin-right: auto;
		display: grid;
		grid-template-columns: 260px;
		grid-template-rows: max-content 1fr max-content;
		grid-template-areas:
			"header main"
			"nav main"
			"nav footer";

		> * {
			min-width: 0;
		}
	}

	.page > nav {

		& > .inner {
			position: sticky;
			top: 20px;
			overflow-y: auto;
			max-height: calc(1vh*100 - 40px);
		}
	}
}


/* medium screens */
@media (800px < width <= 1260px) {

	.page {
		grid-template-columns: 260px;
	}

	.page > header {
		padding: 16px;
		padding-top: 32px;
	}

	.page > nav {
		padding: 16px;
		padding-top: 32px;
	}

	.page > main {
		padding: 30px;
		padding-top: 28px;
	}

	.page > footer {
		padding: 30px;
		padding-top: 40px;
		padidng-bottom: 32px;

		.license {
			margin-top: 20px;
			font-size: 82%;
		}
	}
}


/* large screens */
@media (1260px < width) {

	.page {
		max-width: 1400px;
		grid-template-columns: 380px;
	}

	.page > header {
		padding: 16px;
		padding-top: 40px;

		.logo {
			height: 72px;

			h1 {
				font-size: 150%;

				.smaller {
					font-size: 70%;
				}
			}
		}
	}

	.page > nav {
		padding: 40px;
		padding-top: 32px;
	}

	.page > main {
		padding: 36px;
		padding-top: 40px;
	}

	.page > footer {
		padding: 40px;
		padding-top: 40px;
		padidng-bottom: 32px;

		.license {
			margin-top: 20px;
			font-size: 90%;
		}
	}
}
