
@import 'gen.css';


:root {
	font-family: Helvetica, Arial, sans-serif;
	/* NOTE:
		this is the only web-safe font installed by default in Linux Mint 21
		and Arial and Helvetica are basically the same font!
		`sans-serif` apparently resolves to `Bitstream Vera Sans`
	*/
}


.empty {
	font-style: italic;
	color: var(--colors-text-dark);
}


button.btn,
button.btn-small {
	background-color: var(--colors-bg-accent);
	border-width: 2px;
	border-style: solid;
	border-top-color: var(--colors-bg-accentLighter);
	border-bottom-color: var(--colors-bg-accentDarker);
	border-left-color: var(--colors-bg-accentLighter);
	border-right-color: var(--colors-bg-accentDarker);
	font-size: inherit; /* for some reason, buttons get a weird font size by default? */
	color: var(--colors-text-light);
	cursor: pointer;

	admin-icon {
		--icon-color: var(--colors-text-light);
	}
}

/* NOTE:
	due to what looks like a bug in Firefox, nesting doesn't work with CSS parts and pseudo-classes,
	so just de-nest the pseudo-classes here
*/
button.btn:hover,
button.btn-small:hover {
	background-color: var(--colors-bg-accentDarker);
}

button.btn:disabled,
button.btn-small:disabled {
	background-color: var(--colors-bg-accentGreyer);
	border-top-color: var(--colors-bg-accentLighterGreyer);
	border-bottom-color: var(--colors-bg-accentDarkerGreyer);
	border-left-color: var(--colors-bg-accentLighterGreyer);
	border-right-color: var(--colors-bg-accentDarkerGreyer);
	cursor: inherit
}

button.btn {
	font-size: 1rem;
	height: 2.0rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	border-radius: 8px;
}

button.btn-small {
	font-size: 0.9rem;
	height: 1.6rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	border-radius: 6px;
}


admin-toggle {
	--field-color-off: var(--colors-bg-accentDarkerGreyer);
	--field-color-on: var(--colors-bg-accentDarker);
}
